<%- include('./includes/head.ejs') %>
</head>
  <body>
    <main>
      <h1>SPALONY.PL</h1>
      <h3>Wszystko w jednym miejscu</h3>

      <form>
        <div class="search">
          <img src="/assets/magnifier-glass-svgrepo-com.svg" alt="Search Icon" class="searchIcon">
          <input type="text" placeholder="WYSZUKAJ">
        </div>
      </form>
      <a href="#"><button class="landingButton">TRANSFERY</button></a>
      <a href="#"><button class="landingButton">NEWSY</button></a>
  </main>
  </body>
</html>