<%- include('./includes/head.ejs') %>
</head>
  <body>
    <main>
      <h1>SPALONY.PL</h1>
      <h3>Wszystko w jednym miejscu</h3>

      <form>
        <div class="search">
          <img src="/public/assets/magnifier.png">
          <input type="text" placeholder="WYSZUKAJ">
        </div>
      </form>
  </main>
  </body>
</html>