@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

a,
a:active,
a:visited,
a:focus{
  text-decoration: none;
  color: black;
}

body{
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: #474747;
}


main{
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 5rem;
}

h3 {
  text-align: center;
  font-weight: 300;
  color: white;
}

form {
  text-align: center;
}

input[type="text"]{
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
}