@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

a,
a:link,
a:active,
a:visited{
  text-decoration: none;
}

body{
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: radial-gradient(circle, #3A3A3A 0%, #414141 100%);
}